interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EdgeOperator/observabilityConfiguration/default?api-version=2026-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EdgeOperator/observabilityConfiguration/default","name":"default","type":"Microsoft.EdgeOperator/observabilityConfiguration","properties":{"resourceGroup":null,"tenantId":null,"location":null,"subscriptionId":null,"servicePrincipalId":null,"cloud":"AzureCloud"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-response-source:
      - OperatorRPHost
    status:
      code: 200
      message: OK
version: 1
